<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""><!-- Description In Google-->
    <meta name="author" content=""> <!-- Name Mohamed Alaa-->
    <!-- Title In Tab Put Your Porject Name -->
    <title>Molopan</title>

    <link rel="icon" href="{{Path}}/images/iconmolo.png">
    <!-- Bootstrap core CSS -->
    <link href="{{Path}}/css/bootstrap.css" rel="stylesheet">
    <link href="{{Path}}/css/animate.css" rel="stylesheet"><!-- File Animation For css -->
    <!-- Font-awesome -->
    <link href="{{Path}}/fonts/css/font-awesome.css" rel="stylesheet">
    <!-- Google Font  Quicksand-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
        rel="stylesheet">
    <!-- Google Font  -->
    <!-- coming soon CSS -->
    <link href="{{Path}}/css/jquery.slide.css" rel="stylesheet">
    <link href="{{Path}}/css/magnific-popup.css" rel="stylesheet">
    <link href="{{Path}}/css/styleHCanvas.css" rel="stylesheet">
    <!-- Main -->
    <link href="{{Path}}/css/style.css" rel="stylesheet">
    <!-- Responsive -->
    <link href="{{Path}}/css/media-queries.css" rel="stylesheet">
    <link href="{{Path}}/css/color/styleColor.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="loading-scroll-hiden">
    
    {{{body}}}

    <!-- JQuery.js -->
    <script src="{{Path}}/js/jquery-3.1.1.min.js"></script>
    <!-- JQuery-ui.js -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- bootstrap.min.js -->
    <script src="{{Path}}/js/bootstrap.min.js"></script>
    <!-- html5shiv.js -->
    <script src="{{Path}}/js/html5shiv.js"></script>
    <!-- smoothscroll.js -->
    <script src="{{Path}}/js/smoothscroll.js"></script>
    <!-- WOW JS -->
    <script src="{{Path}}/js/wow.min.js"></script>
    <!-- Mailer -->
    <script src="{{Path}}/js/mailer.js"></script>
    <!-- Mailer -->
    <!-- scripts -->
    <script src="{{Path}}/js/jquery.slide.min.js"></script>
    <script src="{{Path}}/js/magnific-popup.js"></script>
    <!-- main.js -->
    <script src="{{Path}}/js/mainslider.js"></script>
</body>

</html>